.green{
    background-color: green;

}

.red{
    background-color: red;

}

.blue{
    background-color: blue;

}

.black{
    background-color: black;
}

.color{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 10px;
    float: left;
    border: 1px solid black;
    color: white;
}